mat-horizontal-stepper {
  margin-top: 10%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  padding: 10%;
  text-align: center;
}

.book-table {
  width: 85%;
  margin: 2vw auto;
}

.button-right {
  float: right;
}

.button-left {
  float: left;
}

.cart-spacing {
  line-height: 210%;
}
